bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
.vs
launch-dev.cmd

ASP.NETCoreWebApplication/appsettings.*
ASP.NETCoreWebApplication/appsettings.json
ASP.NETCoreWebApplication/secrets.*